<div class="summaryClient">
    <div class="container">
      <div class="table-container">
        <div class="mb-3 row">
            <div class="col-sm-12 col-md-7">
                <input type="text" class="form-control" placeholder="Buscar usuario..."
                [(ngModel)]="searchText" (ngModelChange)="onSearchChange()">
            </div>
            <div class="col-6 col-md-3 mt-2 mt-md-0">
                <button type="button" class="btn btn-sm btn-primary btn-principal" (click)="viewCreateSummaryCustomer()">
                    <i class="fas fa-plus"></i> Agregar Resumen<span class="d-none d-sm-block"> de Cliente</span>
                </button>
            </div>
            <div class="col-6 col-md-2 mt-2 mt-md-0">
                <button class="btn btn-secondary btn-principal" (click)="LogOut()">Logout</button>
            </div>
        </div>
        <!--Visual Web-->
        <div class="table-responsive d-none d-sm-block" *ngIf="dataLoaded">
              <table class="table table-striped table-hover">
                  <thead>
                      <tr class="text-center">
                          <th class="col-1">Número de Orden</th> <!-- 2 columnas del total de 12 -->
                          <th class="col-1">Fecha Registro</th>
                          <th class="col-3">Cliente</th> <!-- 3 columnas del total de 12 -->
                          <th class="col-1">Teléfono</th>
                          <th class="col-3">Resumen de Compra</th>
                          <th class="col-1">Costo</th>
                          <th class="col-2">Acciones</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="text-center" *ngFor="let summary of summaryCustomers">
                          <td>{{ summary.orderNumber }}</td>
                          <td>{{ summary.createdDate | date: 'dd/MM/yyyy' }}</td>
                          <td>{{ summary.fullName }}</td>
                          <td>{{ summary.phoneNumber }}</td>
                          <td>{{ summary.purchaseSummary }}</td>
                          <td>{{ summary.cost | customCurrency }}</td>
                          <td class="text-center">
                              <button type="button" class="btn btn-sm btn-primary btn-general" (click)="viewUpdateSummaryCustomer(summary)">
                                  <i class="fas fa-edit"></i> Editar
                              </button>
                              <button class="btn btn-secondary btn-sm btn-general" *ngIf="delete" (click)="confirmDeleteSummaryCustomer(summary.orderNumber)">
                                  <i class="fas fa-trash"></i> Eliminar 
                              </button>
                              <button type="button" class="btn btn-sm btn-primary btn-general" (click)="viewDetail(summary)">
                                  Ver Detalle
                              </button>
                          </td>
                      </tr>
                  </tbody>
              </table>
        </div>
        <!--Visual Mobile-->
        <div class="d-block d-sm-none" *ngIf="dataLoaded">
            <div ngbAccordion>
                <div ngbAccordionItem *ngFor="let summary of summaryCustomers; let i = index">
                    <h2 ngbAccordionHeader>
                        <button [ngClass]="i % 2 === 0 ? 'fondo-blanco' : 'fondo-gris'" ngbAccordionButton>
                            <table>
                                <tr>
                                    <td align="right"># Orden:&nbsp;&nbsp;</td>
                                    <td>{{ summary.orderNumber }}</td>
                                </tr>
                                <tr>
                                    <td align="right">Cliente:&nbsp;&nbsp;</td>
                                    <td>{{ summary.fullName }}</td>
                                </tr>
                                <tr>
                                    <td align="right">Teléfono:&nbsp;&nbsp;</td>
                                    <td>{{ summary.phoneNumber }}</td>
                                </tr>
                            </table>
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                            Fecha Registro: {{ summary.createdDate | date: 'dd/MM/yyyy' }} <br/><hr/>
                            Resumen de Compra: {{ summary.purchaseSummary }}<br/><hr/>
                            Costo: {{ summary.cost | customCurrency }}<br/><br/>
                            <button type="button" class="btn btn-sm btn-primary btn-general"(click)="viewUpdateSummaryCustomer(summary)">
                            <i class="fas fa-edit"></i> Editar
                            </button>
                            <button class="btn btn-secondary btn-sm btn-general" *ngIf="delete" (click)="confirmDeleteSummaryCustomer(summary.orderNumber)">
                            <i class="fas fa-trash"></i> Eliminar 
                            </button>
                            <button type="button" class="btn btn-sm btn-primary btn-general" (click)="viewDetail(summary)">
                            Ver Detalle
                            </button>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-pagination
            *ngIf="dataLoaded"
            [page]="page"
            [totalItems]="totalResult"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (pageChange)="changePage($event)"
            (pageSizeChange)="onPageSizeChange($event)">
        </app-pagination>
        <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center my-4">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Cargando...</span>
            </div>
        </div>
    </div>
  </div>